@font-face {
  font-family: water;
  src: url("https://cdn.glitch.global/97e56c15-92f7-4f9f-bf56-5e88fb2ed406/Water.otf?v=1741221335890");
}

body {
  background-color: aliceblue;
  text-align: center;
  color: navy;
  margin: auto;
  font-family: water;
}

h1 {
  font-size: 50px;
}

#myCanvas {
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/801/824/non_2x/rectangular-aquarium-empty-aquarium-with-algae-illustration-in-cartoon-style-vector.jpg");
  background-size: 600px 500px;
  border-radius: 300px;
  border: 5px solid white;
}
